<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Quora</title>
</head>
<body>
    <h1 class="Quora">Quora</h1>
    <% for(let post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <p class="content"><%= post.content %></p>
            <a href="http://localhost:8080/post/<%= post.id %>">Show in detail</a>
            &nbsp;
            <a href="http://localhost:8080/post/<%=post.id%>/edit">edit</a>
            <br>
            <br>
            <form method="post" action="http://localhost:8080/post/<%=post.id%>?_method=Delete">
                <button type="submit">Delete</button>
            </form>
          

        </div>
    <% } %>
    <br>
    <br>
    <a href="http://localhost:8080/post/new">Create a new post</a>
</body>
</html>
